.card
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    &:hover
        transform: scale(1.08)
.mini-card
    h4
        color: gray
        font-size: 15px
    h1
        color: #404040
        font-family: amatic
        font-size: 48px
        span
           color: #c32525
.paragraph
    font-size: 15px
    color: #9696a4
    font-family: Arial, Helvetica, sans-serif

.chefs-container
    display: flex
    flex-direction: column
    gap: 35vh
    .child-1
        background-color: #f8f8f8
        input
.chefs-child
    h4
        font-size: 15px
        color: gray
        text-align: center
    h1
       color:  #404040
       text-align: center
       font-family: amatic
       font-size: 48px
       span
        color: #c32525
    button
        background-color: #c32525
        border: none
        padding: 1.5vh 3vw
        border-radius: 5px
        color: white
@media (max-width : 428px)
    .chefs-container
        padding-top: 13vh
        .card2
            margin-top: 9vh

        