
.carousel-container 
    position: relative
    display: flex
    flex-direction: column
    align-items: center 
    padding: 8vh
    gap: 2vh
    overflow: hidden
    background-color: #f2f2f2
    h2
        color: #2a2a31
        font-family: amatic
        text-align: center
        font-size: 47px
.carousel3 
    display: flex
    transition: transform 0.5s
.slide 
    display: flex
    align-items: center
    justify-content: center
    min-width: 100%
    box-sizing: border-box
    padding: 20px
.slide img 
    width: 15%
    border-radius: 50%
.content 
    width: 50%
    display: flex
    flex-direction: column
    text-align: left
    padding: 20px
    h5
        font-size: 24px
        font-weight: bold
        color: #3e3e43
        font-family: amatic
    p 
        font-size: 16px
    h1
        color: #2a2a31
        font-family: amatic
        text-align: center
        font-size: 47px
.hovers:hover
    color: #c32525
.hovers
    font-size: 18px
    color: #4c4c4c
.gaps
    gap: 10vw
    padding-top: 4vh

@media (max-width : 428px)
    .child-menu
        flex-direction: column
    .hovers
        font-size: 14px
    .slide
        flex-direction: column
        img
            width: 150px
    