.menu
    padding: 8vh 6vw
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 8vh
    .title
        h1
            color: #2a2a31
            font-family: amatic
            text-align: center
            font-size: 47px
    span
        color: #c32525
        font-family: amatic
    h4
        color: gray
        font-size: 15px
        text-align: center
    p
        color: gray
.nav-link
    color: #3c3c47
    font-weight: bold
.nav-link:hover
    border-bottom: solid 3px red

    